.main {
  @apply flex-1 min-h-lvh pb-[15vh] relative;
}

.main .nav {
  @apply flex items-center justify-between text-[22px] p-[20px] text-[#585858];
}

.main .nav img {
  @apply w-[40px] rounded-[50%];
}

.main-container {
  @apply max-w-[900px] m-auto;
}

.main .greet {
  @apply my-[50px] mx-[0px] text-[56px] text-[#c4c7c5] font-[500] p-[20px];
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  @apply grid gap-[15px] p-[20px];
}

.main .card {
  @apply h-[200px] p-[15px] bg-[#f0f4f9] rounded-[10px] relative cursor-pointer;
}

.main .card img {
  @apply w-[35px] p-[5px] absolute bg-white rounded-[20px] bottom-[10px] right-[10px];
}

.main .card p {
  @apply text-[#585858] text-[17px];
}

.main .card:hover {
  @apply bg-[#dfe4ea];
}

.main-bottom {
  @apply absolute bottom-0 w-full max-w-[900px] py-0 px-[20px] m-auto;
}

.search-box {
  @apply flex  items-center justify-between gap-[20px] bg-[#f0f4f9] py-[10px] px-[20px] rounded-[50px];
}

.search-box img {
  @apply w-[24px] cursor-pointer;
}

.search-box input {
  @apply flex-1 bg-transparent border-none outline-none p-[8px] text-[18px];
}
.search-box div {
  @apply flex items-center gap-[15px];
}
.main .bottom-info {
  @apply text-[13px] my-[15px] mx-auto text-center font-[300];
}

.result {
  @apply py-0 px-[5%] max-h-[70vh] overflow-y-scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  @apply my-[40px] mx-0 flex items-center gap-[20px];
}

.result img {
  @apply rounded-[50%] w-[40px];
}

.result-data {
  @apply flex items-start  gap-[20px];
}

.loader {
  @apply w-[100%] flex flex-col gap-[10px];
}

.loader hr {
  animation: loader 3s infinite linear;
  @apply rounded-[4px] bg-[#f6f7f8] bg-gradient-to-r from-[#9ed7ff] via-[#ffffff] to-[#9ed7ff] bg-[800px_50px] h-[20px];
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  @apply text-[17px] font-[300] leading-[1.8];
}

@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 5px;
  }
}
